[2020-11-13 09:13] non-runner-rob opened #2 "Create workouts longer than 10k / 1 hour current limitation"
Currently can't move a comment beyond 10k.

(p.s. loving the editor - super nice to use - just going through testing phase just now.)

[2020-11-13 09:14] non-runner-rob commented on #2
Would be nice to have 1 decimal place for power value (if not draggable to edit then editable in block bubble)

[2020-11-13 09:17] non-runner-rob opened #3 "Scale across bottom"
Currently the distance scale does not scroll as you scroll the work blocks

[2020-11-13 09:20] non-runner-rob opened #4 "Show decimal point on percentage"
Would be nice to have 1 decimal place for power value.

(if not draggable to edit then editable in block bubble)

[2020-11-13 09:36] non-runner-rob opened #5 "Last blocks"
Can't see the last blocks in the file (can only see 28).

I have set up a distance based run workout.

Added steady state as follows, all marathon pace

01 - 3000m
02 - 2000m
03 - 1000m
04 - 1000m
05 - 4000m
06 - 1000m
07 - 1000m
08 - 3000m
09 - 1000m
10 - 1000m
11 - 2000m
12 - 1000m
13 - 3000m
14 - 1000m
15 - 1000m
16 - 1000m
17 - 1000m
18 - 1000m
19 - 1000m
20 - 2000m
21 - 1000m
22 - 1000m
23 -

[2020-11-13 10:16] breiko83 commented on #4
I need more information about this. I don't understand what you are referring to.

Power in watts is an integer number. Watt per Kgs is a decimal number with 1 decimal position.

[2020-11-13 10:19] breiko83 commented on #2
Running workouts are limited to 10K or 1 hour right now. Will definitely work on this next release.
What would be the longest workout for a typical Zwift run? A Marathon?

[2020-11-13 10:20] breiko83 commented on #3
Duplicate of #2

[2020-11-13 10:20] #3 closed

[2020-11-13 10:20] breiko83 commented on #5
Duplicate of #2

[2020-11-13 10:20] #5 closed

[2020-11-13 10:28] non-runner-rob commented on #2
Hi Carlo,

Yes - for me looking at Marathon - this is for a run plan to "mimic" a course.

This is a great tool Carlo (much better than the other one I have used).

Also, hope you don't mind me noting here any issues I find?

[2020-11-13 10:29] non-runner-rob commented on #4
In the ZWO file,

<SteadyState Duration="1000" Power="1.02" pace="4"/>

In editor, this is being shown as 100%

:-)

[2020-11-13 10:36] non-runner-rob commented on #2
Have also noticed that the comments for distance based workouts are showing as timeoffset.

Should these not be distoffset?

Also, should the offset value be relative to the containing block?

i.e. if I want a message to appear at the start of block two,
`<textevent distoffset="0" message="Set incline to level 1&#xA;This is message 3">`

(Apologies if this comes across as pedantic - not meant that

[2020-11-13 11:08] breiko83 opened #6 "Have also noticed that the comments for distance based workouts are showing as timeoffset."
Have also noticed that the comments for distance based workouts are showing as timeoffset.

Should these not be distoffset?

Also, should the offset value be relative to the containing block?

i.e. if I want a message to appear at the start of block two,
`<SteadyState Duration="2000" Power="0.964" pace="4">`
`<textevent distoffset="0" message="Set incline to level 1&#xA;This is message 3"/>`
`</St

[2020-11-13 11:11] breiko83 commented on #6
@non-runner-rob can you confirm this is a bug?

I think Zwift will read the value in timeoffset based on workoutType distance or time. So the tag name doesn't really matter.

[2020-11-13 11:12] breiko83 commented on #2
Thanks! I don't mind and I appreciate your support!

[2020-11-13 11:14] breiko83 commented on #4
Sure I guess this could be rounded to 2 decimal points in the ZWO file for better readability.

I would not consider this a bug anyway but just enhancement.

[2020-11-13 11:14] non-runner-rob commented on #6
Let me do some isolated testing on that Carlo.

[2020-11-13 12:04] non-runner-rob commented on #6
Ok Carlo, Done some isolated testing now:
![Screenshot 2020-11-13 115542](https://user-images.githubusercontent.com/35265047/99070077-82d9a580-25a7-11eb-9d7b-5c44c0edc03a.jpg)

First issue: Inserted 5 messages, one for the start of each block. The first message is lost from the downloaded zwo, and message two appears in the first block, message two in the second block etc.

Second issue, the value

[2020-11-13 12:08] non-runner-rob commented on #4
I agree this is not a bug, and is related more to the editor more than the zwo. In the editor, it would be nice to know that it is 97.6%, currently it would show as 98% as this is where the rounding is taking place.

[2020-11-13 14:09] breiko83 commented on #6
Hello Rob,

I confirm this was a bug and I should have fixed it.
I've also changed the attribute name to distoffset for distance based workouts.

Feel free to reopen the issue if you still have problems.

Thanks!

[2020-11-13 14:09] #6 closed

[2020-11-13 14:19] breiko83 commented on #4
This is fixed now.

Thanks for pointing it out.

[2020-11-13 14:19] #4 closed

[2020-11-13 14:34] non-runner-rob commented on #6
I have tested distance based comments and can confirm they are working.

Setup:
Win10 based Zwift
Android based Companion App

Messages appeared as expected in all the correct places.

Thank you Carlo. Great work.

[2020-11-13 14:35] non-runner-rob commented on #4
Again excellent work Carlo. Thank you.

[2020-11-14 16:18] breiko83 commented on #2
Completed this. You can now create workouts up to 6 hours and 43 km long.

[2020-11-14 16:18] #2 closed

[2020-11-16 12:05] non-runner-rob commented on #2
Hi Carlo,

You are a legend. Thanks so much. Now to create some longer workouts (run plans).

Please make contact if you do require anything testing out. Will always be happy to help.

[2020-11-23 15:09] Jawaui opened #7 "Wrong distance by calculating run/time"
First of all-thank you for these awesome workoutbilder!!!
When you make a workout for run and use time, then the distance is calculated wrong, because when you say as example 10 min with 100% - Miletime 08:00 then 2021m is the result. 10min/50%/08:00 then is the result 4043m. So when you run slower you can't run longer. Or am I wrong?

[2020-11-23 15:32] breiko83 commented on #7
Thank you for your kind words and thanks for reporting this.

It is indeed a bug. Try to refresh the pace and should be fixed now!

[2020-11-23 15:32] #7 closed

[2020-11-24 08:14] Jawaui commented on #7
Aloha Carlo,
thanks for your correction. Now it works fine!!
Jawaui (Erwin Baumgartner)

    Am Montag, 23. November 2020, 16:33:03 MEZ hat Carlo Schiesaro <notifications@github.com> Folgendes geschrieben:

Closed #7.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-09 14:01] oyvodd opened #8 "Upload of files does not work"
Hi, thanks for adding the possibility to upload files!

Currently upload of existing zwo-files or xml-files downloaded through the application does not work.

Nothing happens, even if testing tiny workout-files with only one warmup-entry.

Any browser requirements or other?

[2020-12-09 17:09] steph-singer opened #9 "Cadence Icon"
For entering cadence, the icon looks like time? Or is cadence not available? Slightly confusing. Thanks!

[2020-12-09 18:06] ryanr4ntnx commented on #8
Confirmed, tried it with Edge 81.0.416.64. It creates an upload file box but the data never makes it.

[2020-12-09 18:09] ryanr4ntnx opened #10 "Text Events Overlap"
Text events behave oddly.

1. Tightly spaced events are difficult to select. This could be nicely remedied by vertically cascading the events downwards so they can be moved left and right. This could also be remedied by allowing a scalable X-axis
2. If an event is resized (width of field) and then moved, it re-expands.

[2020-12-09 18:36] breiko83 commented on #8
Hello!

Sorry my bad. I guess I broke this with a recent update. Should be solved now!

Thanks for reporting! Please let me know.

[2020-12-09 18:36] #8 closed

[2020-12-09 18:46] breiko83 commented on #9
I agree with you.

I couldn't find anything better. I'm using [FontAwsome](https://fontawesome.com/icons?d=gallery) at the moment.
If you find anything better I'm happy to change it.

Thanks!

[2020-12-09 18:49] breiko83 commented on #10
Thanks @ryanr4ntnx .

Text events needs definitely some improvements.

The issue with vertical cascading is they might end up overlapping the workout. Need to think of a better solution.

[2020-12-09 18:53] ryanr4ntnx opened #11 "Add tag list to interface"
Could you add the tag documentation somewhere.

[2020-12-09 18:59] breiko83 commented on #11
You can add title, description, author and tags clicking Save button.
If you don't want to create an account just click "Dismiss" on the form and download the ZWO file.

Let me know if I answered the question.

[2020-12-09 19:05] steph-singer commented on #9
Woah! So many options. Maybe the "sync" icon? It's a bit of a reach but indicates a rotation.

[2020-12-09 19:12] breiko83 commented on #9
I agree - sync is definitely better.

Alternatively I can draw a custom icon but what would be the standard icon for cadence?

[2020-12-09 19:12] ryanr4ntnx commented on #11
No im talking about the actual documentation:

    <IntervalsT Repeat="3" OnDuration="60" OffDuration="120" OnPower="1" OffPower="0.748" pace="0">
      <textevent timeoffset="0" message="Hammer down, 1 minute!"/>
      <textevent timeoffset="60" message="... and cool down for a few!"/>
    </IntervalsT

Ryan Ramsey | Sr. Systems Engineer (Enterprise) | Nutanix Inc.
ryan.ramsey@nutanix.com<mailto:

[2020-12-09 19:32] steph-singer commented on #9
Zwift uses this funny icon which looks like a crank arm. [https://zwiftinsider.com/wp-content/uploads/2019/07/image3-1024x576.jpg](url) I think either sync, the crank arm or an icon that just says "RPM" would be great.

[2020-12-09 21:52] JesperWedholm opened #12 "Cadence is not stored"
Hi,
I downloaded a newly created workout with a cadence setting for an interval and the workout file didn't contain the cadence attribute.

[2020-12-10 08:34] oyvodd commented on #8
Thanks a lot, confirming that it is now working.

[2020-12-10 09:37] breiko83 commented on #12
Hello @JesperWedholm !

Thanks for reporting this. I've added the cadence to intervals. Please let me know if it works on Zwift as I didn't test it!

[2020-12-10 09:37] #12 closed

[2020-12-10 09:40] breiko83 commented on #11
I'm still not sure I understand your suggestion. Would do you mean with tags and documentation?
Can you make an example so I can understand?
Thanks!

[2020-12-10 11:20] netbrain opened #13 "Feature request: PWA"
Turn it into a PWA so it's usable on mobile devices.

[2020-12-10 16:50] ryanr4ntnx commented on #11
I meant documentation for each of the tags… I saw it once on the internet but I lost the link.

For example

<author> -           Creator of the workout
<name> -             Name that will be displayed in Zwift.
…
<textevent>       - Display a text message on the screen.
<timeoffset>      The time of which an event triggers (in seconds)
<message>         The text to display on the screen
<Interval

[2020-12-10 21:10] breiko83 commented on #9
I've updated the cadence icon drawing something similar to the Zwift one for consistency.
Thanks for you help!

[2020-12-10 21:10] #9 closed

[2020-12-10 21:13] breiko83 commented on #13
Hello @netbrain! Thanks for your contribution.

It would be nice but you would not be able to download the ZWO file on your device and save it on Zwift.
Therefore I don't find useful to have mobile version at the moment.

Feel free to add your comments on this.

[2020-12-10 21:18] breiko83 commented on #11
You are referring to the final ZWO file. Why would you need instructions to manually edit this?
The point of having the web interface is actually not to edit text files.

Let me know if you need more help or I'll close this.

Thanks!

[2020-12-10 22:45] ryanr4ntnx commented on #11
Great question.
I needed to do it for the overlap in the text fields.. you can’t grab them with the current interface. There are also a LOT of tags that are not in the builder right now that someone might want to add later on.

Just a suggestion… I’d like to see the community grow and that comes from knowledge and creativity.

Ryan Ramsey | Sr. Systems Engineer (Enterprise) | Nutanix Inc.
ryan.ram

[2020-12-11 12:15] netbrain commented on #13
Well if PC is the only platform intended for this, then why use this at all? I could simply use zwift's own workout builder, no?

I'm simply saying it would be nice with a generic workout builder that's available on mobile devices. It would not be difficult to implement something that allows you to share workouts via email or using other services like training peaks, todays plan etc.

Converting a

[2020-12-11 12:27] breiko83 commented on #13
@netbrain Zwift doesn't have a in-app running workout editor and as far as I know mine is the first one (for runners) with a visual interface.

I didn't mind to work on a mobile version for the "import" limitation. As soon as this is sorted I might consider working on this.

Thanks for your contribution - closing this for now.

[2020-12-11 12:27] #13 closed

[2020-12-11 12:30] breiko83 commented on #11
Sorry, I'm closing this as it's not relevant to the workout editor.

Thanks for your contribution.

[2020-12-11 12:30] #11 closed

[2020-12-11 13:40] breiko83 commented on #10
Hello @ryanr4ntnx .

I've put the text events on 5 different row as a temporary solution. Hope this help a little.

![image](https://www.dropbox.com/s/4ycgcu8b10q13sm/text-events.png?raw=1)

[2020-12-11 13:40] #10 closed

[2020-12-11 17:05] JesperWedholm commented on #12
Thanks! Haven't tested it yet but the generated file looks good!

[2020-12-13 15:01] dpr4473 opened #14 "Can't edit past 320w"
I can't drag the power of a block past 320w or it disappears off screen where I can no longer edit. Is there any way to increase the screen size, or some other workaround?

[2020-12-13 17:53] breiko83 commented on #14
As a workaround you can try Zoom out the page from your browser menu. Hope it helps!
You can also increase the power using the arrow keys of your keyboard.

[2020-12-14 20:47] Mick173 opened #15 "Disable "delete block" event when editing text input fields"
I've tried setting up a new workout that includes cadence however I can't get the cadence figure into the workout

[2020-12-19 23:24] nene commented on #15
Looks like entering the cadence number is indeed tricky. I failed to do it the first few times I tried.

When you click the "Cadence" button an input box appears with `0` inside it. My first intuition was to delete the zero and replace it with some other number. So you click on the input box, a cursor appears after `0` and you press backspace to delete it... which takes you back to the previous pa

[2020-12-20 21:34] nene commented on #15
I looked into fixing this, but turns out it's not so simple.

After I prevented the propagation of the key press events in this input, the browser no more navigated to the previous page, but instead the current bar got deleted when backspace was pressed. The app is registering a DOM listener for the key presses outside of the React system as React doesn't support receiving keyboard events on div (

[2020-12-20 22:12] nene commented on #15
Created a Pull Request with fixes for these problems.

Additionally it got me into thinking that the UX is kinda inconsistent with regards to how the cadence is handled:

- All other aspects of the workout are changed by manipulating the workout graphic with a cursor (or using keyboard shortcuts), but for cadence one needs to input a concrete value to a field.
- The cadence info is not present in

[2020-12-20 22:16] nene commented on #15
Looking further into cadence, I now notice that I'm unable to add cadence to intervals. After I enter the cadence number, click on another workout bar and come back, the cadence number is back to zero. Further more, for intervals it should be possible to set two cadence numbers, not just one.

[2020-12-21 11:22] nene opened #17 "Text events not loaded properly after first Interval block"
When uploading a `.zwo` file, the `<textevent>` elements get rendered properly up to encountering the first `<IntervalsT>` element. After that, the textevent nodes seem to be rendered at the very left edge of the workout chart. (Seemingly not getting loaded at all).

Example file:

[code]

Result:

<img width="794" alt="Screenshot 2020-12-21 at 13 21 52" src="https://user-images.githubusercontent.

[2020-12-21 11:26] nene commented on #17
Here's also an example of loading a larger workout file with loads of textevents (suddenly after the first interval block, textevents disappear):

<img width="1380" alt="Screenshot 2020-12-21 at 13 23 47" src="https://user-images.githubusercontent.com/118201/102772240-d5209a00-438f-11eb-967f-6721df58075b.png">

This also demonstrates that editing a larger amount of text events with the current UI

[2020-12-21 11:36] nene opened #18 "Parsing of ZWO file fails when <name>, <author> or <description> tag is missing"
Example:
[code]

Result:

[code]

I think it should succeed, given that the editor doesn't really need the info from these tags.

[2020-12-21 11:42] nene commented on #14
I noticed that regardless of window size, the block height is capped at 200% FTP. That's not quite enough for sprints. For example this workout included in Zwift goes up to 300% FTP:

https://whatsonzwift.com/workouts/less-than-an-hour-to-burn/jons-short-mix/

[2020-12-21 12:12] breiko83 commented on #14
The drag and drop is capped at 200% ftp but you can increase power as much as you like with up/down buttons.
Zwift editor drag/drop is also capped but you can change power with input fields.

[2020-12-21 12:15] breiko83 commented on #15
@nene can you confirm you can do this on Zwift editor and ZWO files support 2 different cadence tags?
Is there such thing as cadenceOn and cadence Off?

It might not be supported. Need confirmation.

[2020-12-21 12:18] breiko83 commented on #18
I agree. I can have a look at this. Thanks

[2020-12-21 12:23] breiko83 commented on #17
Definitely a bug. It probably has something to do with Duration (for blocks) and OnDuration, OffDuration (for intervals). Will check this as well.

[2020-12-21 15:40] nene commented on #15
Well, just yesterday I completed a workout which contained the following interval:

[code]

[2020-12-21 16:01] breiko83 commented on #15
Oh that's amazing. I didn't know about that tag.
I will check with Zwift editor how it works - we'll probably need 2 input fields for intervals.

Thanks @nene

[2020-12-21 22:30] #18 closed

[2020-12-21 22:34] breiko83 opened #20 "Add resting cadence to Intervals"
Well, just yesterday I completed a workout which contained the following interval:

[code]

_Originally posted by @nene in https://github.com/breiko83/zwo-editor/issues/15#issuecomment-749038163_

[2020-12-21 22:36] #15 closed

[2020-12-21 22:56] #17 closed

[2020-12-21 22:58] breiko83 commented on #14
I'm closing this for now. Feel free to reopen if the workaround I described doesn't work.

[2020-12-21 22:58] #14 closed

[2020-12-22 22:10] dpr4473 commented on #14
No, the workaround hasn't solved the issue. Once the power disappears from view on the screen, it is no longer able to be edited. I'll be going back to zwofactory workout editor. Less hassle.

    On Monday, December 21, 2020, 5:58:42 PM EST, Carlo Schiesaro <notifications@github.com> wrote:

I'm closing this for now. Feel free to reopen if the workaround I described doesn't work.

—
You are recei

[2020-12-26 19:20] nene opened #26 "Conflict between TOS and LICENSE"
I'm confused by the Terms Of Service page, which states that you aren't allowed to modify this software:

While at the same time there's a LICENSE file which contains an MIT license, allowing most of the above.

I'm hoping that this still is an open source software and the text in TOS is a mistake.

[2020-12-27 19:02] breiko83 commented on #26
It is open source and MIT is correct license.

I had quickly copied the terms of service from a different website. I will update that accordingly.

[2020-12-28 00:33] #20 closed

[2020-12-29 04:58] kristianbenoit opened #30 "Unsupported workout"
I created a [workout](https://github.com/breiko83/zwo-editor/files/5749629/2020-12-23_Muscu%2BVelo.zwo.txt) with VIM, it works with Zwift, but not with ZWO-editor. I guess comments are not supported ?

Edit: I removed the comments and it worked. I noticed that the "TextEvent" are removed by ZWO-editor and Seam to be related to the case as it work with "textevent".

[2020-12-29 09:52] #30 closed

[2020-12-29 09:54] breiko83 commented on #30
Hello @kristianbenoit !

Thanks for reporting this. I've fixed this now so both xml comments and different case for text event are parsed correctly.

Regards,
Carlo

[2020-12-30 01:27] micj0 commented on #14
Even if I use the arrows, I can't see the numbers so no way to know how many watts I'm adding since it's outside the window

[2021-01-01 15:37] nene opened #34 "Feedback on the new text editor"
I'm very fond this whole text-editor idea... even so much that I have written my own text-based Zwift workout editor: https://nene.github.io/workout-editor/

Instead of implementing a new one here, it might be better to take my implementation and improve on top of that. I have written the parser as a [separate library](https://github.com/nene/zwiftout), so it should be fairly easy to integrate.

M

[2021-01-01 16:36] nene opened #35 "Problematic conversion between running & cycling workouts"
When switching workout from cycling to running or vice versa, several things go wrong:

- FreeRide remains intact, although in running FreeRide is not allowed (at least the FreeRide button gets removed from UI).
- SteadyState bar of any length gets converted to 200 meters of running. When you then drag the bar width, it suddenly jumps to a new computed width. If however you try to increase bar wid

[2021-01-01 19:12] breiko83 commented on #35
I don’t see a reason to fix this as I can’t imagine a scenario where you’d
want to transform a cycling workout to a running workout or viceversa.

I would simplify this by clearing the bars/instructions objects when
changing sport type but there should be an alert and confirm button.

Otherwise I’d leave as it is as it’s not a reported issue.

Let me know what you think.

[2021-01-01 19:24] breiko83 commented on #34
Happy New Year @nene !

Thanks for taking the time to look at this! I didn't know you built something similar or I would have definitely look at it before writing this feature.

It only took me an afternoon to writ anyway. It's not perfect but I guess it helps anyone who doesn't like the drag-n-drop style of editor.

I'll check out your repository tomorrow and report back!

Thanks and again Happy

[2021-01-01 20:27] nene commented on #35
Yeah, I don't really see a need to convert between running and cycling workouts. As the functionality seemed to be there, I reported it as being buggy.

Clearing the workout (with a confirmation) seems like a good solution.

[2021-01-01 23:09] nene commented on #35
Actually most of these bugs (besides the FreeRide problem) are also present when switching only the "duration type".

[2021-01-04 19:21] nene opened #37 "Running time estimates are skewed towards shortest distance times entered"
When I enter **half marathon =** `02:00:00` and leave all else blank, it estimates **full marathon =** `04:14:24`. Makes sense. Twice the distance, results in at least twice the time plus some more.

However, when I enter **1 mile =** `00:05:00` and **half marathon =** `02:00:00`, then it estimates **full marathon =** `02:18:57`. This is surely not as expected.

Looks like the code is picking the

[2021-01-04 19:50] nene commented on #37
It also fails to properly estimate from larger to smaller distances.

When I enter **full marathon =** `04:00:00` and leave all else blank, it estimates **half marathon =** `02:07:12`.

I guess it's applying the estimate-from-smaller-distance formula also when estimating from larger distance.

[2021-01-05 08:49] nene opened #38 "Infinity distance when running times aren't specified"
When 1mile, 5k, etc times aren't entered, the app displays "Infinity" as distance. As seen on screenshot:

<img width="869" alt="Screenshot 2021-01-05 at 10 47 47" src="https://user-images.githubusercontent.com/118201/103625416-9cfa8900-4f43-11eb-951c-afd33d6ef017.png">

[2021-01-05 09:28] nene opened #39 "TSS doesn't make sense for run workouts"
Currently the TSS is also calculated and shown for run workouts. Currently it's purely calculated based on interval percentages, not considering whether it's percentage of 1 mile pace or marathon pace.

For example 1 hour at marathon pace gives 100 TSS. But 1 hour at 1 mile pace also gives 100 TSS.

Probably best to just scrap the TSS info in run mode.

[2021-01-05 10:38] nene opened #40 "Incorrect TSS calculation"
For example, the [What Goes Up Must Come Down](https://whatsonzwift.com/workouts/build-me-up/week-2-what-goes-up-must-come-down/) workout should result in 73 TSS.

Actual result: 68 TSS.

[code]

The mistake being made is that TSS of a workout is not a sum of a TSS for each individual interval. Instead one needs to calculate normalized power (NP) of the full workout and then calculate TSS based on

[2021-01-05 19:09] nene commented on #34
Any thoughts so far?

[2021-01-05 21:59] breiko83 commented on #34
Hello Rene.

Sorry very busy week at work for me. I will get back to you as soon as I
can!

Thanks

On Tue, 5 Jan 2021 at 19:09, Rene Saarsoo <notifications@github.com> wrote:

[2021-01-07 13:28] Pitpocket opened #41 "Display running Pace (not only percentage) when estimated times are put in"
Hey,

I like the project. Very handy and simple to use.

When I create a running workout I have exact paces, which I need to run. With the editor I can edit the percentage of my 5K pace for example but until I load the workout in Zwift I don't have a clue how fast I edited the speed. Maybe you can put in a field which displays the pace in relation to my estimated times.

Thank you for investing yo

[2021-01-08 23:10] trigg10 opened #42 "User interface issue"
On a run workout based on time or distance
![image](https://user-images.githubusercontent.com/77176936/104073596-05788d00-5206-11eb-8099-3317ef413352.png)
Since the new cadence box has appeared, it gets in the way when you try to adjust the intensity/percentage.

[2021-01-09 11:41] breiko83 commented on #42
Hello @trigg10 !

Thanks for reporting this. This has been fixed now!

[2021-01-09 11:41] #42 closed

[2021-01-09 12:09] breiko83 commented on #34
@nene I had a look at your tool and it's really well done. Bravo!

It's missing intervals and instructions on how to use it but it's really nice. Did you get any traction or feedback since you published?

I'm still not sure what to do with mine honestly. I would prefer to wait integrating your parser or adjusting mine until I get some users trying it and giving some feedback. So far I haven't even

[2021-01-09 12:18] breiko83 commented on #40
I guess TSS was developed by Training Peaks and it is patented. Are you sure I can use it?

I know what I calculate is not the same (it's just close) but I don't want to infringe any copyright.

Let me know.

[2021-01-09 17:06] nene commented on #40
Not patented. One can't really patent a mathematical formula.

The names "Training Stress Score", "Normalized Power" and "Intensity Factor" are however trademarked. So you can do the calculation, but you can't call it TSS without TrainingPeaks permission. For example, Strava labels it Training Load, but the formula is likely pretty much the same.

So you're better off using the same formula, but n

[2021-01-09 17:35] nene commented on #34
Haven't really had any feedback on that, as I haven't really found a good place to promote it. I tried sharing it in Zwift forums, but apparently I haven't made enough posts there, so I can't include links to my posts, so that was a bit of a fail :(

It would definitely be nice to get some feedback, though I think one can get quite a lot of initial feedback from himself. Like, mine has gone though

[2021-01-09 18:21] nene commented on #34
Some feedback about your implementation:

- Duration syntax confuses me. There are many variations like `45s`, `10m`, `2:10m`. But not `2:10s`, though the latter would make more sense to me as currently prepending `2:` to `10m` will change the meaning of`10` from seconds to minutes.
- If you want to support distance based run workouts in the future, having `200m` mean 200 minutes can become obstac

[2021-01-10 16:05] nene commented on #41
Sounds like a useful thing to add. The app already calculates the speed internally, should be simple to also display it.

[2021-01-11 20:24] Pitpocket commented on #41
Very happy to hear that. It is such a great tool for runners and with this kind of adaptation it would be phenomenal to use. Can't wait to try it with this update. Please inform me, when it will be available.

[2021-01-13 19:17] nene opened #43 "Free run intervals"
The editor only allows FreeRide blocks for cycling, but looks like Zwift also allows them for running:

- https://whatsonzwift.com/workouts/cyclist-to-10k/week-4-long-fartlek/
- https://whatsonzwift.com/workouts/cyclist-to-10k/week-4-broken-2mi-threshold/
- https://whatsonzwift.com/workouts/cyclist-to-10k/week-7-2mi-threshold/
- https://whatsonzwift.com/workouts/5k-recordbreaker/week-4-2mi-thresho

[2021-01-16 19:37] breiko83 commented on #43
That's interesting. I didn't know it was supported. Should be pretty easy to add.

[2021-01-22 02:55] eric-kruger opened #44 "Gray pop-out window that displays when hovering overlaps with vertical adjustment of zone"
I love this editor but I find the fact that gray pop-out window that opens automatically when the cursor hovers over the bar maddening. It is very difficult to vertically adjust the bar to the appropriate wattage.  Fixing this would make the UI so much easier. Thanks for all the work.
![image](https://user-images.githubusercontent.com/9710921/105439720-94cc6a00-5c22-11eb-88b7-c6be362734c1.png)

[2021-01-24 21:52] SaraLance opened #45 "Hopefully a useful extension for your incredible editor"
Hi there, I built a mini excel template to generate instructions that are compatible with your editor. My coach was having a lot of issues with losing work due to page refreshing or something. Anyway, not sure how to incorporate into your app but figured this may be helpful and give you ideas. Incredible job and I love using your app.
[Zwift Workout Builder.xlsx](https://github.com/breiko83/zwo-ed

[2021-01-25 09:12] breiko83 commented on #45
Hey @SaraLance .
Thanks for your feedback. I'm aware of Instructions not being very user friendly - Still trying to figure out a nice way to add/edit them.

Will definitely look into this in future releases.

[2021-01-25 09:15] breiko83 commented on #44
Hello @eric-kruger !
Thanks for reporting this. This is unexpected!

Can you please tell me what browser are you using? Happy to fix this.

[2021-01-25 16:54] eric-kruger commented on #44
I noticed this in Brave and Chrome. I think it is only occurring when the bars are narrower than the pop-out gray box.

[2021-02-08 19:04] nene commented on #41
If that's of help to you @Pitpocket, I've implemented this feature in my fork of this editor: https://nene.github.io/zwo-editor/

[2021-02-10 09:33] Pitpocket commented on #41
Looks great. Perfect to use. I noticed that the "10 km time" field was swapped with "10 mile time" field. Is that by design or just an accident?

[2021-02-10 09:52] nene commented on #41
Just an accident. Internally the app treated it as 10 km, but just the label was 10 miles. Corrected now.

[2021-02-13 14:20] #39 closed

[2021-02-13 14:21] breiko83 commented on #41
Hello @Pitpocket this is now on the [official editor](https://www.zwiftworkout.com/) as well so I'm closing this.

[2021-02-13 14:21] #41 closed

[2021-02-13 14:22] breiko83 commented on #38
I don't find this relevant issue for now.

[2021-02-13 14:22] #38 closed

[2021-02-13 14:23] #34 closed

[2021-02-13 14:23] #26 closed

[2021-02-13 14:23] #35 closed

[2021-02-13 14:23] #37 closed

[2021-02-13 14:23] #40 closed

[2021-02-13 14:23] #43 closed

[2021-02-15 20:52] dfj89 opened #46 "How to reset password"
Can't remember my password and can't find the reset option?

[2021-02-16 22:22] breiko83 commented on #45
Hello @SaraLance .

I've just updated the website with a new editor for text instructions. Please let me know if your coach is happy with it.
I will close this issue for now. Feel free to re-open if you have feedback.

[2021-02-16 22:22] #45 closed

[2021-02-16 22:23] breiko83 commented on #46
Hey @dfj89!
I don't have a reset password form at the moment. I will add one tomorrow and let you know when it's done!

Thanks for reporting this.

[2021-02-16 22:26] breiko83 commented on #44
Closing this as I can't replicate the issue.

[2021-02-16 22:26] #44 closed

[2021-02-17 10:49] dfj89 commented on #46
Cool, thanks for the good workout creator 🙏🏼Sendt fra min Galaxy
-------- Oprindelig besked --------Fra: Carlo Schiesaro <notifications@github.com> Dato: 16.02.2021  23.23  (GMT+01:00) Til: breiko83/zwo-editor <zwo-editor@noreply.github.com> Cc: dfj89 <dfredsgaard89@gmail.com>, Mention <mention@noreply.github.com> Emne: Re: [breiko83/zwo-editor] How to reset password (#46)
Hey @dfj89!
I don't have

[2021-02-17 10:57] breiko83 commented on #46
Hello @dfj89.

The reset password form is there now. Just click **Save** or **Workouts** button and you should see the link.

Closing this ticket - feel free to re-open if you have any issues.

[2021-02-17 10:57] #46 closed

[2021-02-17 11:39] dfj89 opened #47 "Phone-friendly"
Is there any way to make the creator a little more phone-friendly? I can use it with the text editor but look at the photos to see what I mean.
![Screenshot_20210217-123833_Samsung Internet](https://user-images.githubusercontent.com/79114689/108199363-31e4ca80-711d-11eb-964b-074f6b2b7f43.jpg)
![Screenshot_20210217-123845_Samsung Internet](https://user-images.githubusercontent.com/79114689/10819936

[2021-02-17 15:07] breiko83 commented on #47
Hey @dfj89

I didn't work on a mobile friendly version yet based on the fact you can't upload the workout directly on Zwift without a Desktop (PC or Mac).

Not sure why it would useful to have a mobile version at the moment.

[2021-02-17 15:15] dfj89 commented on #47
No, I see :)

[2021-02-17 15:15] #47 closed

[2021-02-26 18:30] dwaynefsihel opened #48 "Unable to save workout"
Appears to be something about a workout I created that won't allow it to save. What I created was this:
begin free ride: 10 min
then 3 intervals of:
Z4, 6:00 min, 180w
Z5, 6:00 min, 220w
free ride 7 min,
free ride 5 min end

For some reason, this will not save, I tried from 2 machines

[2021-02-26 18:50] breiko83 commented on #48
Hello!

I can have a look! Can you download the zwo file and send it to me here?

Alternatively can you send me the Link to your workout?

Thank you,
Carlo

On Fri, 26 Feb 2021 at 18:30, dwaynefsihel <notifications@github.com> wrote:

[2021-02-26 19:08] dwaynefsihel commented on #48
I don't believe I can send, as when I attempt to download it, it goes to
save first and that is what's not working...I was, however, able to go
directly into zwift and use their editor and recreate the same thing, so
appears that combination is OK?  I just put a screenshot of what it looked
like, and the data for the interval blocks were in the issue

On Fri, Feb 26, 2021 at 1:50 PM Carlo Schiesar

[2021-02-26 21:00] breiko83 commented on #48
I'm confused. It's not necessary to save before downloading.
Yes, please if you can send a screenshot of the entire page and tell what browser you are using it will help.

Thanks!

[2021-02-26 22:22] dwaynefishel commented on #48
Same here! I lost the tab in my browser but can recreate. When I clicked
download after creating, it posted a saving.. dialog box and stuck there. I
will attempt to recreate, clear browser cache, etc and see what happens...

On Fri, Feb 26, 2021 at 4:00 PM Carlo Schiesaro <notifications@github.com>
wrote:

--
Dwayne E. Fishel
216.308.0270
dwaynefishel@gmail.com

[2021-03-15 20:46] andpeab commented on #48
i have the same issue. after finishing workout when i try to download, i get a "saving" box that just hangs forever. i also tried saving. filled out the workout details and the saving box hangs forever, even though the details are added to my workout. i can't download and the workout does not appear in my workout folder.

[2021-03-15 20:50] andpeab commented on #48
![Screenshot_2021-03-15 Threshold Ramps _USAT_PEABODY - Zwift Workout Editor](https://user-images.githubusercontent.com/80719156/111219456-a89aa980-859d-11eb-87ea-c65286e55f72.png)

[2021-03-17 20:54] sennemm opened #49 ""save as new"or saved template workout feature please!"
Great little editor/creator, loving it so far.  However was hoping to be able to create the same basic workout with same warmup/cooldown and just save it in several different files with the main workout set being different.  So using the initial file I've created as a template so to speak.  This would be great, would save a lot of work re-creating my specific warmup for each workout I create.  Tha

[2021-03-25 14:33] Tall-KU-RideOn commented on #48
@breiko83 - Looks like there is a missing property in the code:

`Uncaught Error: Reference.update failed: First argument contains Infinity in property 'workouts.z8wivfw3xvr.workout.0.length'
    at e (fb047f5……df353a8d017587.js:1)
    at fb047f5……df353a8d017587.js:1
    at R (fb047f5……df353a8d017587.js:1)
    at e (fb047f5……df353a8d017587.js:1)
    at fb047f5……df353a8d017587.js:1
    at R (fb047f

[2021-03-25 16:58] NicolajT commented on #48
Hi
I have experienced the same for some time.
But it seems to be linked to use of "Text events": if I make a work out without any "Text events" it does save fine. But if I include one "text event", the "save" message wont disappear (like being told by the others). If I then delete the "Text events", then it save fine.

Thanx for a great tool! I love it and have made several work outs :)

[2021-03-25 17:32] andpeab commented on #48
the solution, it seems, is to refresh the page after finishing the workout. then it saves or downloads with no problem. the first time i tried this i was afraid it would refresh back to the blank workout page but it did not and i downloaded the workout file easily, including all of the text comments.

[2021-03-27 13:02] Heike34 opened #50 "Cant reach the drag and drop setup"
Hey,

the box for time, cadence and power blocks the line to pull the bar for an other power value.

![image](https://user-images.githubusercontent.com/81472702/112721603-ffd93c00-8f04-11eb-8a2c-e2e6cb61c37e.png)

[2021-03-29 05:32] liminals-1 opened #51 "Warmup and Cooldown lose 5 seconds when adjusting intensity"
Hey,
Love this editor. Very small issue for you. For the Warm-up and Cool down, if you increase or decrease intensity, it will lower the duration by five seconds (a five minute cool down switches to 4:55). As far as I can tell, this only happens at the 5 minute duration. It's not hard to fix this manually but it is just one of those annoying things that require extra clicks for each of my workouts

[2021-03-31 06:54] #50 closed

[2021-04-26 17:15] jisaacmartin opened #52 "Parse whatsonzwift.com workout format"
Thanks for all your work.  It is super helpful.

I was hoping to modify some workout templates posted at whatsonzwift.com at https://whatsonzwift.com/workouts.  Copying and pasting from the summary at the left almost works, but it does require a little tweaking, for example adding "steady" or "ramp" at the front of each line and modifying "from 45 to 75% FTP" to "45%-75%".  It would be great if zw

[2021-05-07 13:20] laurawho7 opened #53 "Edit top of segment"
I have difficulty getting the double sided arrow to appear when editing the top of various segments. Is it possible to be able to edit the watts within the grey box that continually pops up? You have cadence in there, can you please put time and watts in there to be editable? It would save alot of time. Thank you

[2021-07-26 08:49] trigg10 commented on #53
I ama lso getting these when creating a bike workout.
![Screenshot 2021-07-26 at 09-41-36 My Workout - Zwift Workout Editor](https://user-images.githubusercontent.com/77176936/126961359-c5a85949-bc9a-4c91-a906-1916b4e92d25.png)

[2021-08-06 18:39] wbjenn opened #54 "Save a block of intervals"
Is it possible to save a block of intervals I'd like to repeat over several workouts? My warm up regime is always the same and I'd like to not have to recreate it for every custom workout.

[2021-08-16 14:07] JuanParki opened #55 "Include incline settings when creating runs"
I created a 'hill' session for a run (see saved session "Hills - 4 x 6min efforts" by Juan Parki) but couldn't find a way to add incline settings for the treadmill (I put text boxes in to remind me when to change the setting). I ran the session in Zwift and set the incline at the beginning of the hill intervals.

However, once the file saved, it hadn't recognised the actual inclines I'd been runni

[2021-08-16 18:33] #55 closed

[2021-08-24 00:52] the1gofer opened #56 "crome mac"
Saving doesn't work.   Save file isn't created, can't download or share.

[2021-09-29 09:27] dvmarinoff opened #57 "Ability to add Slope (Grade) targets for workout intervals"
Hi,
I am working on a [Trainer App](https://github.com/dvmarinoff/Flux) for structured training that uses the .zwo format and provides the option for setting intervals with Slope targets. Something like say, ride X minutes at 5% grade. The idea is that optional Slope targets might be added the same way as cadence.

### Why?

1. ERG mode is tough when doing longer intervals at threshold level . Whi

[2022-01-25 18:51] p0leary commented on #48
+1 to both the bug and the workaround. Was getting a hanging save modal and was unable to download, but refreshing the browser resolved.

[2022-02-14 17:03] cwind87 opened #63 "Zone 6 off scale"
When I add a zone 6 segment and I drag the power level up, the grey box showing the power level goes off-screen at 150% ftp and the entire segment goes off-screen a little higher up.

[2022-02-14 17:15] cwind87 opened #64 "Cannot edit ending ftp for warm up"
The ending ftp for warm up segment cannot be edited.  The grey box blocks that area so it cannot be selected.  Strangely, the same is not true for the beginning ftp of a cool down, though it is difficult to select.  Making the fields in the grey box editable would be nice.

[2022-02-17 22:18] mayfield opened #66 "length is misspelled, can't save or download."
![image](https://user-images.githubusercontent.com/139316/154580310-64229b56-0e1a-4158-bb73-9744919b79a2.png)

[2022-02-24 20:28] pastorhudson opened #68 "Add Meta data to open graph tags for preview links"
When sharing a workout it would be nice if the preview gave the Title of the workout, duration, tags and even preview image.
This is pretty low hanging fruit since it just needs to be added to the meta tags on the page.

This would increase social sharing quality of life.

Thank you so much for building this tool!

[2022-05-05 19:31] Chrisevans106 opened #74 "Uploading to zwift on an older Mac"
My Mac has recently become unsupported by zwift due to an older Graphics card. Can I still upload from the editor?

[2022-07-27 19:27] Niv-P opened #79 "Multiple blocks"
Would it be possible to add a feature where a block of text commands are "wrapped" with a multiplier, e.g. >>

message "Using Coggan Power Levels 2 to 7" 10s
warmup 40%-55% 5m
block x5
{
message "Zone 2" 10s
steady 56% 4m
message "Zone 3" 10s
steady 76% 2m
message "Zone 4" 10s
steady 91% 1m
message "Zone 5" 10s
steady 106% 30s
message "Zone 6" 10s
steady 121% 20s
message "Zone 7" 10s
steady 151% 1

[2022-09-22 23:45] kylane commented on #48
Same here!

![Screenshot 2022-09-23 094544](https://user-images.githubusercontent.com/8296041/191869956-458e54f8-5d45-4875-964c-e01de7c04934.jpg)

[2022-09-29 08:38] pelleoss commented on #48
as already said above, the work around is to reload the page. you won't lose your work and then it will be able to save.
I have just tried and it worked.

[2022-10-13 08:30] neilp2022 opened #80 "New workout not showing in zwift"
I created a workout, downloaded, then dragged and dropped into the zwift folder on my PC:

![image](https://user-images.githubusercontent.com/115696962/195544429-205b7cd7-7052-4be0-87b7-d203d222d87c.png)

However it is not showing in my zwift custom workouts folder. Have I done something wrong? Thanks!

[2022-10-13 08:39] #80 closed

[2022-10-19 10:20] SpudInNZ commented on #66
To save or download, make sure every block has a cadence.

[2022-11-05 18:00] Bikeridertom commented on #66
I want to leave the cadence blank.  It will save if I exit the window, re-open the zwift editor and choose to save. It is a pain.

[2022-11-05 18:08] Bikeridertom commented on #63
Same issue.  I can't get at the editing box to set cadence and such

[2022-11-08 23:04] DDTriGuy opened #81 "Saving... saving... saving..."
Anyone else having this issue?  Same issues on Chrome, Safari...

[Error] Error: Reference.update failed: First argument contains NaN in property 'workouts.hm5zcgp71ao.workout.1.restingCadence'
	st (0c6450cc893a6101f0c3cebbcdbdfc8c24c0a890.js:1:563215)
	dt (0c6450cc893a6101f0c3cebbcdbdfc8c24c0a890.js:1:564366)
	j (0c6450cc893a6101f0c3cebbcdbdfc8c24c0a890.js:1:661473)
	W (0c6450cc893a6101f0c3cebbcd